#nav{
    width:100%;
    height:auto;
    border-bottom:1px solid grey;
}
.nav-page-links{
    color:black;
    text-decoration:none;
    text-align:center;
    transition:0.5s;
    margin-right:10%;
}
ul{
    font-size:23px;
}
a:hover{
    color:#e79618;
}

body{
    text-align:center;
}
#footer {
    bottom: 0;
    width: 99%;
    height: 4%;           /* Footer height */
    list-style-type:none;
    font-size:20px;
    display:flex;
    justify-content: center;
    border-top:1px solid grey;
  }
  #follow-us-location{
      margin-top:-20px;
      margin-right:10%;
  }
  #contact-us-location{
    margin-top:-20px;
    margin-right:10%;
    text-decoration: none;
    color:black;
  }
  .fa-youtube{
      font-size:25px;
      color:red;
  }
  .fa-facebook-square{
      font-size:25px;
      color:#3b5998;
  }
  .fa-phone-alt{
      color:#23dc4c;
  }
  #attribution-text{
      font-size:12px;
  }
  #phone-number-link{
      color:black;
      text-decoration:none;
  }
  #email-text-color-decoration{
      text-decoration:none;
      color:black;
  }
  #submit-input{
    font-size:20px;
    border-radius:10px;
    margin:none;
    transition: 0.75s;
    border:none;
    background-color:black;
    color:white;
    text-align: center;
}
#submit-input:hover{
    color:#e79618;
    cursor:pointer;
}
input{
    border:1px solid #3f403f;
    margin-top:2%;
    width:50%;
}
.contact-form-input-size-style{
    border-radius:10px;
    width:80%;
    font-size:20px;
    text-align:center;
}
textarea{
    width:80%;
    height:80px;
    border-radius:10px;
}
.hours-of-operation-spacing{
    margin-top:5%;
    margin-bottom:5%;
    font-size:20px;
    text-align: center;
}
#hours-days-of-operation{
    list-style-type:none;
    font-size:20px;
}
.fa-map-marker-alt{
    color:#ed3112;
    font-size:20px;
    margin-right:10px;
}
#home-page-image{
display:flex;
overflow:hidden;
width:100%;
align-items: center;
height:auto;
}
#home-page-card-container{
    display:flex;
    justify-content: space-around;
    margin-top:2%;
    font-size:18px;
}
.home-page-cards-offers{
    border-radius:10px;
    border:1px solid #93350e;
    margin-bottom:1%;
    box-shadow: 5px 10px #c4c4c4;
    margin-right:1%;
    
}
.home-page-cards-images{
    height:500px;
    width:95%;
}
.home-page-card-text{
    word-wrap:normal;
    text-decoration:none;
    list-style-type:none;
    margin-top:40px;
}
.home-page-card-title-text{
    text-decoration:underline;
}
#covid-19-notice{
    background-color:#e81717;
    width:99%;
    position:fixed;
    bottom:0;
    border: 1px lightgray;
    color:white;
}
#covid-notice-button{
    font-size:18px;
    border:none;
    height:auto;
    background:none;
    color:white;
    border-radius:10px;
    margin-top:5px;
    cursor:pointer;
    transition:0.5s;
    background-color:black;
}
#covid-notice-button:hover{
    background-color:black;
    color:#e79618;
}
#logo-image{
    height:100px;
    width:100px;
    float:left;
}
i{
    margin-right:10px;
}
.training-section-text{
    margin-top:5%;
    margin-bottom:5%;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
    display:flex;
    justify-content: space-around;
}
.training-lists-topics{
    list-style-type:none;
    font-size:19px;
    text-align:left;
    margin-left:10px;
}
.training-header-element{
    text-decoration:underline;
}
#training-header-element-contact-page{
    text-decoration:none;
}
.training-level-difficulty{/*This class will be on the right side of the for the training and it will indicate the level of difficulty for the available courses.*/
    margin-left:50%;
    font-size:19px;
    margin-top:0.01%;
    margin-right:0.02%;
    background-color:black;
    border-radius:10px;
    color:#e79618;
}
.training-cards-box{
    border:1px solid #e81717;
    border-radius:10px;
    box-shadow: 5px 10px #c4c4c4;
    margin-right:1%;
}
.fa-check{
    color:green;
}
.gun-vault-grid{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap:5px;
}
.grid-images{
    height:200px;
    width:200px;
}
@media  screen and (max-width:1024px) {
    #home-page-card-container{
        display:flex;
        flex-direction: column;
        font-size:16px;

    }
    .home-page-card-text{
        font-size:16px;
    }
    .home-page-card-title-text{
        font-size:16px;
    }
    #footer{
        font-size:16px;
        display:flex;
        flex-direction: column;

    }
    #follow-us-location{
        font-size:16px;
    }
    #contact-us-location{
        font-size:16px;
    }
    .home-page-cards-offers{
        margin-bottom:5%;
        margin-top:5%;
    }
    .nav-page-links{
        font-size:16px;
        margin-top:1%;
        display:flex;
        flex-direction: column;
    }
    #nav{
        text-align: center;
        float:left;
    }
    #logo-image{
        float:right;
        position:absolute;
        top:0;
        left:0;

    }
    #covid-notice-button{
        font-size:16px;
    }
    #covid{
        font-size:16px;
    }
    .training-lists-topics{
        font-size:16px;
    }
    .training-level-difficulty{
        font-size:16px;
    }
    .training-section-text{
        display:flex;
        flex-direction:column;
    }
    .training-cards-box{
        margin-bottom:5%;
        margin-top:5%;
    }
    #flex-display-containers{
        font-size:16px;
        text-align: center;
    }
    .hours-of-operation-spacing{
        margin-top:10%;
        margin-bottom:10%;
        font-size:16px;
    }
    #training-header-element-contact-page{
        font-size:16px;
    }
    #contact-us-form{
        font-size:16px;
    }
    #submit-input{
        font-size:16px;
    }
    .contact-form-input-size-style{
        font-size:16px;
    }
    #subject-text-box{
        font-size:16px;
    }
}
@media screen and (min-width:1025px) {
    #home-page-card-container{
        display:flex;
        flex-direction: row;
        font-size:19px;

    }
    .home-page-card-text{
        font-size:19px;
    }
    .home-page-card-title-text{
        font-size:19px;
    }
    #footer{
        font-size:19px;
        display:flex;
        flex-direction:  row;

    }
    #follow-us-location{
        font-size:19px;
    }
    #contact-us-location{
        font-size:19px;
    }
    .home-page-cards-offers{
        margin-left:2%;
        margin-right:2%;
    }
    .nav-page-links{
        font-size:19px;
        margin-top:1%;
    }
    #nav{
        text-align: center;
    }
    #covid-notice-button{
        font-size:19px;
    }
    #covid{
        font-size:19px;
    }
    .training-lists-topics{
        font-size:19px;
    }
    .training-level-difficulty{
        font-size:19px;
    }
    .training-section-text{
        display:flex;
        flex-direction: row;
    }
    .training-cards-box{
        margin-left:2%;
        margin-right:2%;
    }
    #flex-display-containers{
        font-size:19px;
        text-align: center;
    }
    .hours-of-operation-spacing{
        margin-top:10%;
        margin-bottom:10%;
        font-size:19px;
    }
    #training-header-element-contact-page{
        font-size:19px;
    }
    #contact-us-form{
        font-size:19px;
    }
    #submit-input{
        font-size:19px;
    }
    .contact-form-input-size-style{
        font-size:19px;
    }
    #subject-text-box{
        font-size:19px;
    }
}